/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

html {
  background: #e6e9e9;
}

.page {
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*body{
	padding: 50px 120px;
	margin: 0 220px;
	width: 700px;
}
*/

h2{
	text-align: center;
	color: blue;
	background-color: #DDE0E3;
	margin-top: 50px;
	border-radius: 5px;
}

h3{
	text-align: center;
}

hr{
	width: 50%;
}

table{
	text-align: center;
}

td{
	text-align: left;
	width: 200px;
	vertical-align: top;
}


dt{
	font-weight: bold;
}

dt > em{
	font-family: Arial;
	font-size: 16px;
}

caption{
	font-size: 25px;
	color: blue;
	font-weight: bold;
}
ol{
	padding: 0 20px;
	font-style: italic;
}

ol > li{
	font-style: normal;
	font-weight: bold;
}

table:last-of-type {		/* we could use :last-of-type to add some space after the last table*/
	margin-bottom: 50px; 
}

hr:last-of-type {
	border: 15px solid #DDE0E3; 
	width: 100%;
	margin-top: 30px;
	border-radius: 5px;
}

/*.color1 {
	background-color: #edefe3;
	border-radius: 5px;
}

.color2 {
	background-color: #efeae3;
	border-radius: 5px;
*/

.color2 dl {
	padding-left: 10px;
}

.color1 dl {
	padding-left: 10px;
}

dl em {
    padding-left: 50px;
}